<h1>Welcome to Bookmark Manager<h1>

<form action="/links" method="get">
  <input type="submit" value="Show links">
</form>

<form action="/add_link" method="post">
  <input type="text" name="url">
  <input type="submit" value="Add link">
</form>
